.about {
    border-radius: 30px;
    margin-left: 20px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 7px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(185, 185, 185, 0.75);
    
    height: calc(100vh - 20px);
    overflow-y: scroll;

    position: relative;
}
@media (max-width: 600px) {
    .about {
        border-radius: 0;
        margin-left: 0;
        box-shadow: none;
        border: none;
        height: 100vh;
    }
}

.about::-webkit-scrollbar {
    display: none;
}

.about {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    /* outline: 2px solid red; */
}

.wave {
    background-color: #2779D0;
    min-height: 35vh;
    max-height: 500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media (max-width: 600px) {
    .wave {
        background-color: #0ECDE9;
    }
}

.about__body {
    font-size: 1.5em;
    line-height: 1.7em;
    word-spacing: 0.3em;

    padding: 50px;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .about__body {
        padding: 20px;
        padding-bottom: 50px;
    }
}

.keypoints {
    font-weight: 700;
    color: #2779D0;
}