.postContent {
    border-radius: 30px;
    margin-left: 20px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 7px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(185, 185, 185, 0.75);
    
    height: calc(100vh - 20px);
    overflow-y: scroll;

    position: relative;
}
@media (max-width: 600px) {
    .postContent {
        border-radius: 0;
        margin-left: 0;
        box-shadow: none;
        border: none;
        height: 100vh;
    }
}

.postContent::-webkit-scrollbar {
    display: none;
}

.postContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.postContent__content {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
@media (max-width: 600px) {
    .postContent__content {
        padding: 20px;
        padding-top: 50px;
    }
}

.postContent__content h1 {
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}

.select-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
@media (max-width: 600px) {
    .select-tag {
        flex-direction: column;
    }
}

.select-tag > *:first-child {
    margin-right: 30px;
}
@media (max-width: 600px) {
    .select-tag > *:first-child {
        margin-right: 0;
    }
}

.postContent__inputs {
    display: flex;
    flex-direction: column;
}

.postContent__input {
    width: 100%;
    background-color: rgb(247, 245, 245);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.postContent__input span {
    font-weight: 700;
    margin-bottom: 10px;
}

.postContent__input input[type='text'] {
    border: none;
    border: 1px solid white;
    outline-width: 0;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    font-size: 1.2em;
}

.postContent__input input[type='text']:focus-within {
    border-color: rgba(0, 0, 0, 0.25);
}

.cover-photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.label__file__post {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 2px solid tomato;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: mintcream;
    cursor: pointer;
    transition: all 100ms;
}
@media (max-width: 600px) {
    .label__file__post {
        font-size: 1em;
        padding: 10px 30px;
    }
}

.label__file__post:hover {
    background-color: white;
    color: tomato;
}

.icon__upload {
    margin-right: 10px;
}

.icon__close {
    color: tomato;
}

.icon__okay {
    color: yellowgreen;
}

.modal__upload-link {
    height: 100vh;
    display: grid;
    place-items: center;
}

.upload-link-container {
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
}

.upload-link__header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}

.upload-link__header h3 {
    margin-left: 20px;
    font-size: 1.3em;
}
@media (max-width: 600px) {
    .upload-link__header h3 {
        margin-left: 10px;
        font-size: 1.2em;
    }
}

.upload-link__header span {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    border: 2px solid tomato;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    
}

.upload-link__body input[type='text'] {
    border: none;
    border: 1px solid white;
    outline-width: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    font-size: 1.2em;

    margin: 20px 50px;
}
@media (max-width: 600px) {
    .upload-link__body input[type='text'] {
        padding: 10px;
        background-color: white;
        font-size: 1.2em;
    
        margin: 20px;
    }
}

.upload-link__body p {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    opacity: 0.7;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upload-link__body p::before, .upload-link__body p::after {
    content: '';
    width: 120px;
    height: 1px;
    background-color: black;
    opacity: 0.25;
}

.upload-link__body input[type='text']:focus-within {
    border-color: rgba(0, 0, 0, 0.25);
}

.modal__upload__btn {
    margin: 0 auto;
}

.upload-link__footer {
    /* outline: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}


/* IN TINYJS FILE */

.postContent__actions {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 600px) {
    .postContent__actions {
        flex-direction: column;
    }
}

.action-btn {
    padding: 10px 50px;
    background-color: tomato;
    color: white;
    border: 2px solid tomato;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 100ms;
    width: 300px;
}
@media (max-width: 600px) { 
    .action-btn {
        margin: 0 auto 30px auto;
    }
}

.action-btn:hover {
    background-color: white;
    color: tomato;
}

.warning {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}