.avatar__text {
    border-radius: 50%;
    margin-left: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.avatar__text span {
    /* outline: 2px solid blue; */
    margin: 0 auto;
    font-size: .9em;
}

.avatar__img {
    max-width: 28px;
    max-height: 28px;
    border-radius: 50%;
}

.avatar__img img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar__img__large {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.avatar__img__large img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}