.bookcard {
    /* outline: 2px solid red; */
    position: relative;
    z-index: 20;

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    max-width: 250px;
    min-width: 200px;

    min-height: 300px;
    max-width: 300px;
    margin-right: 20px;
    /* border: 1px solid #0F1245; */

    background-color: white;
    box-shadow: 0px 0px 7px -6px rgba(0, 0, 0, 0.75);
}

.bookcard > * {
    /* outline: 2px solid blue; */
}

.author__info {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: -5px;
}

.author__info .article__action {
    margin-left: auto;
    cursor: pointer;
    color: white;
    /* outline: 2px solid red; */
}

.author__info span {
    margin-left: 5px;
    font-size: 0.8em;
}

.avatar__text {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.avatar__text span {
    /* outline: 2px solid blue; */
    margin: 0 auto;
    font-size: .9em;
}

.bookcard__header {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* outline: 2px solid red; */
    margin-bottom: 10px;
}

.bookcard__header img {
    max-width: 100%;
    min-height: 100px;
    object-fit: contain;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* outline: 2px solid green; */
    transition: all 200ms;

}

.read__btn {
    border: 2px solid mintcream;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: mintcream;
    background-color: transparent;
    cursor: pointer;
    
    transition: 100ms all;
    opacity: 0;
    font-weight: 700;
}
@media (max-width: 600px) {
    .read__btn {
        display: none;
    }
}


.read__btn:hover {
    background-color: mintcream;
    color: #0F1245;
}

.bookcard:hover .bookcard__header img {
    filter: brightness(.5);
    transform: scale(1.2);
}

.bookcard:hover .bookcard__header .read__btn {
    opacity: 1;
}

.bookcard__body {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.bookcard__body h2 {
    font-size: 1.4em;
}

.bookcard__body > p {
    font-weight: 700;
    opacity: 0.7;
    font-size: .9em;
    margin: 5px 0;
}

.bookcard__body > p > span {
    font-weight: 600;
    opacity: 0.8;
    font-size: .9em;
}

.bookcard__body > span {
    opacity: .7;
    font-size: .9em;
}

.bookcard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0px 10px; 
    /* outline: 2px solid red; */
    margin-left: 10px;
    margin-top: auto;
}

.bookcard__footer span {
    margin-left: 3px;
    font-size: 0.9em;
    opacity: 0.8;
}

.likes {
    display: flex;
    align-items: center;
}

.likes > *:not(span) {
    cursor: pointer;
}

.bookcard__footer button {
    border: 1px solid #0F1245;
    padding: 10px 20px;
    background-color: #0F1245;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms;
    font-weight: 700;
}
@media (min-width: 600px) {
    .bookcard__footer button {
        display: none;
    }
}

.bookcard__footer button:hover {
    background-color: white;
    color: #0F1245;
}

/* UTILS */
.icon__white {
    /* color: white; */
}