.cardrow {
    width: 100%;
    /* outline: 2px solid red; */

    display: flex;

    align-items: center;
    justify-content: space-between;


    margin: 30px 0; 
    /* margin-left: auto; */

    position: relative;
    z-index: 20;
}

@media (max-width: 600px) {
    .cardrow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0; 
    }
}