.headerMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-left-radius: 100%;

    padding-left: 10px;
    padding-bottom: 10px;
}
@media (min-width: 600px) {
    .headerMenu {
        display: none;
    }
}