.sidebar__option {
    /* outline: 2px solid blue; */
    display: flex; 
    align-items: center;
    width: max-content;
    padding: 5px 10px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: white;
    transition: all 100ms ease;
    border: 1px solid rgb(177, 204, 240);
    font-weight: 700;
    cursor: pointer;
}

.link {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: #000;
    transition: all 100ms ease;
}

.sidebar__option:hover {
    background-color: rgb(201, 232, 252);
}

.sidebar__option:hover .link {
    color: rgb(38, 168, 255);
}

