.sidebar {
    /* outline: 2px solid red; */
    min-width: 270px;
    max-width: 300px;
    height: calc(100vh - 20px);
    border: 1px solid rgba(185, 185, 185, 0.75);
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 7px -5px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    padding: 0 10px;

    position: sticky;
    top: 10px;
    left: 0;
}

.sidebar > * {
    /* outline: 2px solid blue; */
}

/* HEADER */
.sidebar__header {
    padding: 10px;
    margin-top: 10px;
}

.sidebar__banner {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.sidebar__banner img {
    width: 100%;
}

.loggedIn {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 20px;
}

.user__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 1em;
}

.user__info > span:first-child {
    font-weight: 700;
}

.user__info > span:last-child {
    font-size: .9em;
    opacity: 0.8;
}

.loggedIn .logout__btn {
    margin-left: auto;
}

.not__loggedIn {
    /* outline: 2px solid red; */
    display: flex;
}

.not__loggedIn a {
    padding: 10px 20px;
    background-color: lightskyblue;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-weight: 700;
    border-radius: 20px;
    transition: all 100ms;
}

.not__loggedIn a:first-child {
    margin-right: auto;
}

.not__loggedIn a:hover {
    background-color: rgb(41, 41, 41);
    color: lightskyblue;
}

/* .logout__btn {
    margin-left: 100%;
} */

/* BODY */
.sidebar__body {
    /* outline: 2px solid red; */
    padding: 0px 10px;
}

.sidebar__options {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.sidebar__option {
    /* outline: 2px solid blue; */
    display: flex; 
    align-items: center;
    width: max-content;
    padding: 5px 10px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: white;
    transition: all 100ms ease;
    border: 1px solid rgb(177, 204, 240);
    font-weight: 700;
}

.sidebar__option:hover {
    background-color: rgb(201, 232, 252);
}

.sidebar__option a {
    margin-left: 5px;
    text-decoration: none;
    color: #000;
}

/* FOOTER */
.sidebar__footer {
    /* outline: 2px solid red; */
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.sidebar__footer__container {
    background-color: white;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.sidebar__footer__container h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    margin-left: 5px;
}



.sidebar__footer__messenger {
    background-color: rgb(202, 215, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(108, 145, 226);
    font-weight: 700;
    border: 1px solid rgb(171, 184, 201);
    cursor: pointer;
    transition: all 100ms;
    /* outline: 2px solid red; */
}

.sidebar__footer__messenger > * {
    /* outline: 2px solid green; */
}

.sidebar__footer__messenger span {
    margin-right: 5px;
}

.sidebar__footer__messenger:hover {
    background-color: rgb(108, 145, 226);
    color: rgb(202, 215, 231);
}

/* UTIL */
.sidebar .divider {
    margin-bottom: 20px;
    width: 90%;
    margin: 10px auto;
}

.--active__option {
    background-color: lightskyblue;
}


.slideLeft {
    animation: slideLeft 1s ease 1 forwards;
    transform: translateX(-550px);
}

@keyframes slideLeft {
    100% {
        transform: translateX(0);
    }
}