.sidebar {
    /* outline: 2px solid red; */
    min-width: 290px;
    max-width: 300px;
    height: calc(100vh - 20px);
    border: 1px solid rgba(185, 185, 185, 0.75);
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 7px -5px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 10px;
    left: 0;
}

.sidebar > * {
    /* outline: 2px solid blue; */
}

/* HEADER */
.sidebar__header {
    padding: 5px 10px;
    margin-top: 10px;
}

.loggedIn {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 20px;
}

.user__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 1em;
}

.user__info > span:first-child {
    font-weight: 700;
}

.user__info > span:last-child {
    font-size: .9em;
    opacity: 0.8;
}

.loggedIn .logout__btn {
    margin-left: auto;
}

.not__loggedIn {
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.not__loggedIn a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    background-color: lightskyblue;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-weight: 700;
    border-radius: 20px;
    transition: all 100ms;
}

.not__loggedIn a:hover {
    background-color: rgb(41, 41, 41);
    color: lightskyblue;
}

/* BODY */
.sidebar__body {
    /* outline: 2px solid red; */
    margin-left: 10px;
}

.sidebar__options {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

/* FOOTER */
.sidebar__footer {
    /* outline: 2px solid red; */
    margin: 10px;
    margin-bottom: 0;
    margin-top: auto;
}

.sidebar__footer__container {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar__footer__container h4 {
    margin-bottom: 10px;
    font-size: 1.3em;
    margin-left: 5px;
    color: rgb(48, 48, 48);
}

.sidebar__footer__option {
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin: 3px 0;
    background-color: rgb(236, 235, 235);
    border-radius: 20px;
    color: rgb(36, 36, 36);
}

.sidebar__footer__option span {
    margin-left: 10px;
}

.sidebar__footer__messenger {
    background-color: rgb(229, 232, 236);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    color: rgb(108, 145, 226);
    font-weight: 700;
    cursor: pointer;
    transition: all 100ms;
    /* outline: 2px solid red; */
}

.sidebar__footer__messenger span {
    margin-right: 5px;
}

.sidebar__footer__messenger:hover {
    background-color: rgb(108, 145, 226);
    color: rgb(229, 232, 236);
}

/* UTIL */
.sidebar .divider {
    margin-bottom: 10px;
    width: 90%;
    margin: 10px auto;
}

.--active__option {
    background-color: lightskyblue;
}


.slideLeft {
    animation: slideLeft 1s ease 1 forwards;
    transform: translateX(-550px);
}

@keyframes slideLeft {
    100% {
        transform: translateX(0);
    }
}

.sidebar__bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}