.title {
    padding: 5px 30px;
    background-color: lightskyblue;
    border-radius: 20px;
    text-transform: capitalize;
    width: max-content;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}
@media (max-width: 600px) {
    .title {
        margin: 0 auto;
    }
}

.title span {
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 10px;
}